{
  "comments": false,
  "sourceMaps": true,
  "ignore": [
    "node_modules",
    "dist"
  ],
  "presets": [
    "es2015",
    "stage-0",
    "stage-1"
  ],
  "plugins": ["transform-class-properties"]
}